<form class="invoice-form" {{on "submit" this.addInvoice}}>
  <Input @placeholder="Enter titile" @type="text" @value={{@invoice.title}} required="required" />

  <Input @placeholder="Enter amount" @type="tel" @value={{@invoice.amount}} required="required" />

  {{ember-flatpickr
    allowInput=false
    date=(readonly @invoice.dateSold)
    locale='en'
    onChange=(action this.changeDate)
    placeholder="Pick date"
    dateFormat='d-m-Y'
    required=true
    autocomplete="off"
  }}

  <button type="submit" class="button">{{@buttonText}}</button>
</form>